.main--game {
  .v-main__wrap{
    height: 100%;
  }
}
.board {
  // max-width: 1440px;
  // max-height: 900px;
  max-width: 1800px;
  max-height: 1125px;
  width: 100%;
  height: 100%;
  height: calc(100vh - 15px);
  margin: auto;

  &__bg-img {
    z-index: 0;
    top: 0;
    left: 0;
  }
}

.women,
.currentPpl {
  z-index: 1;
  &.acitve {
    transition: opacity 0.4s;
  }
}
.currentPpl {
  z-index: 2;
}

.game-border{
  position: absolute;
  top: 0;
  left: -8px;
  width: calc(100% + 16px);
  height: 100%;
  max-width: unset;
  z-index: -1;
}
