.main--game {
  .v-main__wrap {
    height: 100%;
  }
}
.board-wrapper{
  width: rem(1267); // 88% from 1440/900
  height: rem(792);
  width: 100vw;
  height: calc(100vh - 15px);

  margin: 15px auto 0;
}
.board {
  // max-width: 1800px;
  // max-height: 1125px;
  width: 100%;
  height: 100%;


  &__bg-img {
    z-index: 0;
    top: 0;
    left: 0;
  }
}

.women,
.currentPpl {
  z-index: 1;
  &.acitve {
    transition: opacity 0.4s;
  }
}
.currentPpl {
  z-index: 2;
}

.game-border {
  position: absolute;
  top: 0;
  left: -8px;
  width: calc(100% + 16px);
  height: 100%;
  max-width: unset;
  z-index: -1;
}

.board {
  &__cell {
    img {
      max-width: unset;
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }
  }
}
