.images-grid {
  display: grid;
  grid-template-columns: repeat(5, 200px);
  grid-gap: 25px;
  justify-content: center;
}
@media #{$mobile} {
  .images-grid {
    display: grid;
    grid-template-columns: repeat(2, 45vw);
  }
}