// Ref: https://github.com/nuxt-community/vuetify-module#customvariables
// fonts
// @import "~vuetify/src/styles/styles.sass";
@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');
$font-family: 'Roboto', sans-serif;
$body-font-family: 'OpenSansHebrew', 'Roboto', sans-serif;
$heading-font-family: 'Fredoka One', cursive;

$baseFontSize: 16;
:root {
  --prim-color: #25408f;
  --sec-color: #c4c4c4;
  --op-color: #f33a3a;
  --brown: #0e0200;
}

$prim-color: var(--prim-color);
$sec-color: var(--sec-color);
$op-color: var(--op-color);

$brown: var(--brown);
$black: #1d1d1d;
$white: #f2f2f2;

$mobile: '(max-width: 960px),(max-device-width: 760px),(orientation: portrait)';
html {
  font-size: #{$baseFontSize}px;
}
body {
  font-size: #{$baseFontSize}px;
}
@function rem($pixels) {
  @return $pixels / $baseFontSize + rem;
}

@function randomNum($min, $max) {
  $rand: random();
  $randomNum: $min + floor($rand * (($max - $min) + 1));

  @return $randomNum;
}