.home-page {
  .container {
    background-color: transparent !important;
  }
}

.join-form {
  width: 480px;
  max-width: 95vw;
}

.home-page {
  .logo {
    #circle {
      animation-name: bounce-7;
      animation-timing-function: cubic-bezier(0.28, 0.84, 0.42, 1);
      animation-duration: 4s;
      animation-iteration-count: infinite;
    //   transform-origin: bottom;

    }
  }
}
@keyframes bounce-7 {
  0% {
    transform: scale(1, 1) translateY(0);
  }
  10% {
    transform: scale(1, 1) translateY(0);
  }
  42% {
    transform: scale(1, 1.01) translateY(-3px);
  }
  50% {
    transform: scale(1, 1.03) translateY(0);
  }
  54% {
    transform: scale(1, 1) translateY(-7px);
  }
  58% {
    transform: scale(1, 1) translateY(0);
  }
  100% {
    transform: scale(1, 1) translateY(0);
  }
}


$light-pink: #ec3352;
$pink: #e11b3b;
$dark-pink: #b10e2a;
$pink-border: #630212;
$pink-shadow: #f792a3;

.join-bingo-btn {
  position: relative;
  display: inline-block;
  cursor: pointer;
  outline: none;
  border: 0;
  vertical-align: middle;
  text-decoration: none;
  font-size: inherit;
  font-family: inherit;
  &.learn-more {
    font-weight: 600;
    font-size: 40px;
    color: $prim-color;
    text-transform: uppercase;
    padding: 1.25rem 2rem;
    background: $light-pink;
    border: 2px solid $pink-border;
    border-radius: 0.75rem;
    transform-style: preserve-3d;
    transition: transform 150ms cubic-bezier(0, 0, 0.58, 1), background 150ms cubic-bezier(0, 0, 0.58, 1);
    &::before {
      position: absolute;
      content: '';
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: $dark-pink;
      border-radius: inherit;
      box-shadow: 0 0 0 2px $pink-border, 0 0.625rem 0 0 $pink-shadow;
      transform: translate3d(0, 0.75rem, -1rem);
      transition: transform 150ms cubic-bezier(0, 0, 0.58, 1), box-shadow 150ms cubic-bezier(0, 0, 0.58, 1);
    }
    &:hover {
      background: $pink;
      transform: translate(0, 0.25rem);
      &::before {
        box-shadow: 0 0 0 2px $pink-border, 0 0.5rem 0 0 $pink-shadow;
        transform: translate3d(0, 0.5rem, -1rem);
      }
    }
    &:active {
      background: $pink;
      transform: translate(0rem, 0.75rem);
      &::before {
        box-shadow: 0 0 0 2px $pink-border, 0 0 $pink-shadow;
        transform: translate3d(0, 0, -1rem);
      }
    }
  }
}